db/*.sqlite3
log/*
!log/.keep
tmp/
public/uploads/**/*
MissingDrawer.tmplugin
.sass-cache/
.DS_Store
.vagrant
uploads/
REVISION
assets_manifest_backup/
config/secrets.yml
node_modules/
public/assets/
yarn.lock
*.log
.bundle
/node_modules
/yarn-error.log
.ruby-version
override.env
