
<h3>GAIA Cancel Confirmation</h3>

<p><strong><%= @greeting %></strong></p>

<p>Your geospatial data request has been cancelled.</p>

<p><strong>Reason:</strong></p>
<p><%= @data_request.cancellation_reason %></p>

<p>Thank you,</p>

<p><italic>GAIA Map Library Application</italic></p>