<h3>New Request Confirmation</h3>

<p><strong><%= @greeting %> </strong></p>

<p>Thank you for your geospatial data request. Map Library Staff will be processing the request shortly, and will contact you when it is ready.</p> 

<p>If you have any questions. please contact gislib@yorku.ca</p>

<p><italic>GAIA Map Library Application</italic></p>