<div class="modal hide fade" id='fill_request_modal_<%= data_request.id %>'>
  <%= simple_form_for data_request, url: fill_data_request_path(data_request), :html => {:id => "edit_data_request_for_fill_#{data_request.id}"}, method: :post do |f| %>

 	 <div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h3>Fill This Request</h3>
  	</div>
	  <div class="modal-body">
	    <p></p>
			<%= f.input :expires_after, input_html: {id: "data_request_expires_after_#{data_request.id}" }, label: "Please Select Expires After Date:",  collection: DataRequest.expires_after_dates, title: "Expires After Date", selected: DataRequest.expires_after_dates.first  %>
			<p class="muted">Filling request will notify the requester that the data is ready to be downloaded.</p>
	  </div>
	  <div class="modal-footer">
		  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
		  <%= f.button :submit, "Fill Request", class: "btn btn-success"%>
	  </div>

	<% end %>
</div>
